<div class=" page-header login" >
  <div class="page-header-image">
  </div>
  <div class="container">
    <div class="col-md-7 content-center">
      <div class="card card-login card-plain mt-3">
        <div class="card-header text-center">
          <div class="logo-container">
          <%= image_tag "logo_ph.png" %>
          </div>
        </div>
          <div class="card-body "> 
        <%= render "/shared/home_form" %>
         </div>  
      </div>  
    </div>  
  </div>  <!-- container -->  
</div>