<div class="wrapper">
  <%= render "/shared/page_header_cohort" %>
  <%= render partial: "/shared/row_buttons", locals:{user: @user} %>
  <%= render "/shared/users_section" %>
</div> <!-- wrapper -->

