<div class="container">
  <h3 class="entry-title pb-3">Admins</h3>
  <div class="row m-0">
    <% @admins.each do |admin|%>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <div class="photo-container">
              <%= image_tag (admin.profile_image_link), :class => ("thumb_sm ") %>
            </div>
            <h5 class="name"><%= admin.name%></h5>
            <p class="location">
              <%= admin.location%>
            </p>
            <p class="profile">
             <%= link_to("View Profile", admin.profile_link, class:"btn text-uppercase") %>
            </p>
          </div> <!-- card-body -->
        </div> <!-- card -->
      </div> <!-- col-md-4 -->
    <% end %>
  </div> <!-- row -->
</div>
</div>