<div class="col-7 cohorts scroller list-group">
    	<a class="list-group-item card-header">CONNECTED COHORTS</a>
    	<% cohorts.each do |cohort| %>
      		<a 	href="/cohorts/<%= cohort.id%>" class="list-group-item list-group-item-action">
  				<span style="float: left;"><%= cohort.name%></span>
  				<span style="float: right;"><%= cohort.start_date.strftime("%B %d, %Y")%></span>
  			</a>
  	<% end%>
</div>

