 <!-- for devise notifications -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p class="description text-white">Vestibulum vitae auctor eros, eget molestie ipsum. Donec dictum nisi quam, quis pellentesque velit tincidunt ut…</p>

<p class="description "><span class="pr-2">Already have an account?</span> <br><span class="link"><%= link_to "Sign In", user_linkedin_omniauth_authorize_path %></span></p>
<p class="description text-white"><span class="pr-2">Don't have an account?</span> <br><span class="link"> <%= link_to "Sign Up", user_linkedin_omniauth_authorize_path %></span></p>