 <!-- for devise notifications -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<p class="description">Vestibulum vitae auctor eros, eget molestie ipsum. Donec dictum nisi quam, quis pellentesque velit tincidunt ut…</p>

<p class="description">Already have an account? <%= link_to "Login", user_linkedin_omniauth_authorize_path %></p>
<p class="description">Dont’ have an account?  <%= link_to "Sign Up", user_linkedin_omniauth_authorize_path %></p>