<nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="100">
	<div class="container">
		
		<div class="navbar-translate">
			<a class="navbar-brand" href="http://demos.creative-tim.com/now-ui-kit-pro/presentation.html" rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="Designed by Invision. Coded by Creative Tim">
				Cohort Connect 
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		   		<span class="navbar-toggler-bar bar1"></span>
				<span class="navbar-toggler-bar bar2"></span>
				<span class="navbar-toggler-bar bar3"></span>
		 	</button>
		</div>

	    <div class="collapse navbar-collapse" data-color="orange">
			<ul class="navbar-nav ml-auto">
			
				<li class="nav-item">
                <%= link_to("Back to Profile", user_path(@user), class:"nav-link fa fa-arrow-left") %>
				</li>


				<li class="nav-item">
                <% if user_signed_in?%>
                <%= link_to 'Logout', destroy_user_session_path, class:"nav-link fa fa-sign-out", method: :delete %>
              <% end %>
					</a>
				</li>

			

			
				
			</ul>
	    </div>
	</div>
</nav>