<div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image">
    </div>
    <div class="row m-0">
       <div class="content-center col-md-7">
          <h3 class="title">Cohort Name</h3>
          <div class="content">
            <div class="social-description">
                <p class="description text-white">Vestibulum vitae auctor eros, eget molestie ipsum. Donec dictum nisi quam, quis pellentesque velit tincidunt ut…</p>
            </div>
            
          </div>
        </div>
    </div>
    
    
</div>