<div class=" col-5">
	<div class="card-header row m-0">
	<div class=" col-md-6 text-uppercase p-0">
	My Cohorts
	</div>
		<div class="col-md-6 text-right">
	<%= render "/shared/create_cohort_modal" %>
	</div>
	</div>
	<ul class="list-group">
 		<% cohorts.each do |cohort| %>
  	<li class="list-group-item">
  		<span style="float: left;"><a href="/cohorts/<%= cohort.id%>"><%= cohort.name%></a></span>
  		<span  style="float: right;"><%= cohort.start_date%></span>
  	</li>
  	<% end%>
	</ul>
</div>


