<div class=" col-4">
	<div class="create-header row m-0">
		<div class="col-md-6">
			<h3>My Cohorts</h3>
		</div>
		<div class="col-md-6">
			<%= render "/shared/create_cohort_modal" %>
	</div>	
	</div>
	<ul class="list-group">
 		<% cohorts.each do |cohort| %>
  	<li class="list-group-item"><span style="float: left;"><%= cohort.name%></span><span  style="float: right;"><%= cohort.start_date%></span></li>
  	<% end%>
	</ul>
</div>


