<div class="section">
  <div class="container">
  <%= render partial: "/shared/users_grid",locals: {heading: "Admin", users: @admins} %>
 <%= render partial: "/shared/users_grid",locals: {heading: "Students", users: @students} %>
 </div> <!-- container -->
</div> <!-- section -->