<div class="section">
  <%= render partial: "/shared/users_grid",locals: {heading: "Admin", users: @admins} %>
 <%= render partial: "/shared/users_grid",locals: {heading: "Students", users: @students} %>
</div> <!-- section -->