button,
.button{
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: 2px solid $main;
  border-radius: 0;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  color: #666;
  padding: .8em 4em;
  outline: none;
  border-radius: 5px;
    &:hover{
      background-color: $main;
      color: #fff;
    }
}
button:focus {
  outline: none !important;
}

.pending-request-counter{
  color: $red;
}

