.modal_btn {
  display: inline-block;
  padding: 10px;
  button{
    width: 215px;
  }
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: $main-font-color;
  text-transform: uppercase;
  font-size: 18px;
  
  label{
    display: block;
    margin-bottom: .5rem;
    color: $main-font-color;
    text-align: left;
}
}

@media (min-width: 768px){
  .modal_btn_wrapper{
    text-align: right;
  }
}