button,
.button{
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: 2px solid #55B7A5;
  border-radius: 0;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  color: #666;
  padding: .8em 4em;
  outline: none;
  border-radius: 5px;
    &:hover{
      background-color: #55B7A5;
      color: #fff;
    }
}
button:focus {
  outline: none !important;
  
}