.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: #505050;
  text-transform: uppercase;
  font-size: 18px;
  
  label{
    display: block;
    margin-bottom: .5rem;
    color: #505050;
    text-align: left;
}
}