.navbar{
  transition: all 300ms ease 0s;
  .nav-link{
    font-family: Roboto, FontAwesome, sans-serif;
  }
}
.navbar-transparent{
  background-color: transparent !important;
  box-shadow: none;
  padding-top: 20px;
    a {
      color: #fff;
    }
  }

.bg-white{
  a {
    color: #505050;
  }
}



